*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

:root {
  font-size: 16px;
  --color-text: #000;
  --color-bg: hsl(22deg 25% 73%);
  --color-text-alt: hsl(1deg 69% 50%);
  --color-link: #000;
  --color-link-hover: #000;
  /* Column/item variables */
  --ratio: 1.3; /* image ratio */
  --grid-item-width: 32vw; /* image width */
  --justify: space-between; /* spread columns or center */
  --gap: 2.5vw; /* column gap and margin for items */
  --rotation: 0deg; /* section rotation */
  --radius: 0px; /* image border radius */
  --offset: -30vh; /* offset of even columns */
  /* content section */
  --radius-small: 4px; /* border radius of small images */
}

body {
  font-family: var(--font-switzer);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-melodrama);
}

.section {
  line-height: 1;
  position: static;
  top: 0;
  z-index: 4;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg);
}

.section--intro {
  margin-bottom: 250vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 8rem 0 2rem;
  cursor: default;
}

.section__title {
  font-weight: 500;
  font-size: clamp(2rem, 17vw, 12.5rem);
  margin: 5vh 0 6vh;
  line-height: 0.9;
  text-transform: none;
  -moz-font-feature-settings: "swsh";
  -webkit-font-feature-settings: "swsh";
  font-feature-settings: "swsh";
}

.section__text {
  margin: 0;
  max-width: 400px;
}

.section__text--alt {
  margin-top: auto;
  color: var(--color-text-alt);
}

.section__arrow {
  transform: translateY(3px) rotate(135deg);
  fill: currentColor;
}

.section--columns {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.columns {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: var(--justify);
  gap: var(--gap);
  height: 100%;
  transform: rotate(var(--rotation));
  align-items: center;
  will-change: transform, opacity;
}

.column-wrap {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 5vh 0 15vh;
  will-change: transform;
}

.column-wrap:nth-child(even) {
  margin-top: var(--offset);
}

.column {
  position: relative;
  display: block;
  will-change: transform;
}

.column__item {
  --grid-item-height: calc(var(--grid-item-width) * var(--ratio));
  width: var(--grid-item-width);
  height: var(--grid-item-height);
  position: relative;
  overflow: hidden;
  border-radius: var(--radius);
  cursor: pointer;
  margin: 0 0 var(--gap) 0;
  z-index: 1;
  will-change: transform, filter;
}

.column__item-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  will-change: transform;
}

.section--showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 8rem 5vw 10vh;
  cursor: default;
}
